---
import type { Course } from "@prisma/client";
import { CheckoutForm } from "../components/CheckoutForm";
import Layout from "../layouts/Layout.astro";

const courseId = Astro.url.searchParams.get("courseId");

if (!courseId) {
  return Astro.redirect("/reservar");
}

const url = new URL(`${import.meta.env.API_URL}/api/course?`);
const params = { id: courseId };
url.search = new URLSearchParams(params).toString();

const course: Course = await fetch(url).then((r) => r.json());
---

<Layout title="Reservar | Ski da Serra">
  <main class="-mt-12 flex min-h-screen items-center justify-between">
    {
      courseId && course && (
        <>
          <CheckoutForm client:only="react" />
        </>
      )
    }
  </main>
</Layout>
