---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contactos">
  <main class="min-h-screen flex flex-col justify-center gap-12">
    <h1 class="text-6xl font-medium text-primary">Contactos</h1>

    <div class="flex justify-between">
      <section class="flex flex-col gap-4 text-primary max-w-xl">
        <div class="grid grid-cols-2 gap-4">
          <h2 class="font-medium">Morada</h2>
          <p>Estrada Nacional nº 339, Apartado 3326200-073 Covilhã, Portugal</p>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <h2 class="font-medium">E-mail</h2>
          <a
            class="underline hover:opacity-80 transition-opacity"
            href="mailto:estancia@skidaserra.pt">estancia@skidaserra.pt</a
          >
        </div>
        <div class="grid grid-cols-2 gap-4">
          <h2 class="font-medium">Telefone</h2>
          <a>(+351) 275 123 573</a>
        </div>
        <p class="font-medium mt-12">Aberto das 09:00h às 17:00h</p>
      </section>
    </div>
  </main>
</Layout>
