---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import CursosCard from "../components/CursosCard.astro";
---

<Layout title="Preços | Ski da Serra" />
<section>
    <h1 class=" mt-12 text-center text-5xl font-bold ">Cursos</h1>
    <div
      class="mt-2 grid w-full grid-cols-1 grid-rows-3 gap-8 text-white md:grid-cols-12 md:grid-rows-3"
    >
      <CursosCard
        name="Curso Basico"
        text="150"
        image="/01.png"
        position="md:col-start-1 md:col-end-5"
      />
      <CursosCard
        name="Curso Avançado"
        text="450"
        image="/02.png"
        position="md:col-start-5 md:col-end-9"
      />
      <CursosCard
        name="Curso Experiente"
        text="750"
        image="/03.png"
        position="md:col-start-9 md:col-end-13"
      />
    </div>
  </section>
