---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ski da Serra">
  <main class="min-h-screen flex flex-col justify-center max-w-xl gap-4">
    <h1 class="text-6xl -mt-20 font-bold text-[#29565F]">From fun to pro.</h1>
    <h3 class="text-[#29565F] font-medium text-lg">
      Descubra a emoção do <i>ski</i> na Serra da Estrela: Aprenda com os melhores
      instrutores na nossa escola de esqui de renome.
    </h3>
    <div class="flex gap-4 font-medium mt-4">
      <a href="/reservar"><Button>Reservar</Button></a>
      <a href="/sobre-nos"><Button type="secondary">Sobre Nós</Button></a>
    </div>

    <!-- Não incluir alt text para imagens decorativas -->
    <img
      class="min-h-screen absolute top-0 left-0 -z-10 max-h-screen w-screen object-cover border-b border-primary"
      src="/Background.png"
      alt=""
    />
  </main>
  <h1 class="text-4xl font-bold text-[#29565F] px-4">Os nossos clientes</h1>
  <section class="grid grid-cols-12 grid-rows-2 mt-4 h-full">
    <div class="col-start-1 col-end-5 relative">
      <img
        class="w-full h-full absolute object-cover"
        src="/Clara.png"
        alt="Fotografia da Clara"
      />
    </div>
    <div class="col-start-5 col-end-12 relative">
      <img
        class="w-full h-full absolute object-cover"
        src="/Gustavo.png"
        alt="Fotografia do Gustavo"
      />
    </div>
    <div class="col-start-1 col-end-7 relative">
      <img
        class="w-full h-full absolute object-cover"
        src="/Ana.png"
        alt="Fotografia da Ana"
      />
    </div>
    <div class="col-start-7 col-end-12 relative">
      <img
        class="w-full h-full absolute object-cover"
        src="/Pedro.png"
        alt="Fotografia do Pedro"
      />
    </div>
  </section>
</Layout>
