---
import Button from "../components/Button.astro";
import Carousel from "../components/Carousel.svelte";
import TestimonialCard from "../components/TestimonialCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ski da Serra">
  <main
    class="flex min-h-screen max-w-xl flex-col items-center justify-center gap-4 text-center md:items-start md:text-left"
  >
    <h1 class="mt-20 text-6xl font-bold text-primary">From fun to pro.</h1>
    <h3 class="text-lg font-medium text-primary">
      Descubra a emoção do <i>ski</i> na Serra da Estrela: Aprenda com os melhores
      instrutores na nossa escola de esqui de renome.
    </h3>
    <div class="mt-4 flex gap-4 font-medium">
      <a href="/reservar"><Button>Reservar</Button></a>
      <a href="/sobre-nos"><Button type="secondary">Sobre Nós</Button></a>
    </div>

    <!-- Não incluir alt text para imagens decorativas -->
    <img
      class="absolute left-0 top-0 -z-10 max-h-screen min-h-screen w-screen border-b border-primary object-cover"
      src="/Background.png"
      alt=""
    />
  </main>
  <section>
    <h1 class="text-5xl font-bold text-primary">Os nossos clientes</h1>
    <div
      class="mt-12 grid w-full grid-cols-1 grid-rows-4 gap-8 text-white md:grid-cols-12 md:grid-rows-2"
    >
      <TestimonialCard
        name="Clara"
        text="Eu não sabia nada sobre esqui antes de me inscrever na escola, mas depois de algumas aulas, sinto-me muito mais confiante na pista! Os instrutores são excelentes e muito pacientes com iniciantes como eu. Mal posso esperar para voltar para as montanhas!"
        image="/testimonial/Clara.png"
        position="md:col-start-1 md:col-end-5"
      />
      <TestimonialCard
        name="Gustavo"
        text="Eu tenho esquiado por anos, mas ainda me matriculei na escola de esqui para melhorar minha técnica. Fiquei muito impressionado com a qualidade do ensino e a experiência dos instrutores. Aprendi novas técnicas e agora sou um esquiador ainda melhor. Recomendo esta escola a todos os esquiadores que querem melhorar."
        image="/testimonial/Gustavo.png"
        position="md:col-start-5 md:col-end-13"
      />
      <TestimonialCard
        name="Ana"
        text="Eu tenho esquiado por anos, mas ainda me matriculei na escola de esqui para melhorar minha técnica. Fiquei muito impressionado com a qualidade do ensino e a experiência dos instrutores. Aprendi novas técnicas e agora sou um esquiador ainda melhor. Recomendo esta escola a todos os esquiadores que querem melhorar."
        image="/testimonial/Ana.png"
        position="md:col-start-1 md:col-end-7"
      />
      <TestimonialCard
        name="Pedro"
        text="Eu não sabia nada sobre esqui antes de me inscrever na escola, mas depois de algumas aulas, sinto-me muito mais confiante na pista! Os instrutores são excelentes e muito pacientes com iniciantes como eu. Mal posso esperar para voltar para as montanhas!"
        image="/testimonial/Pedro.png"
        position="md:col-start-7 md:col-end-13"
      />
    </div>
  </section>
  <div class="my-12 h-[1px] w-full bg-primary"></div>
  <section class="mx-4 flex w-full flex-col gap-12 py-12">
    <h1 class="px-4 text-5xl font-bold text-primary">Galeria</h1>

    <!-- 
      A diretiva "client:visible" apenas renderiza o componente quando 
      aparece no ecrã, o que melhora o desempenho da página.
     -->
    <Carousel client:visible />
  </section>
</Layout>
