---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Reservar | Ski da Serra">
  <main
    class="-mt-12 flex min-h-screen flex-col items-center justify-center gap-4"
  >
    <h1 class="text-6xl font-bold text-primary">Reservar Aulas</h1>
  </main>
</Layout>
