---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";

export type Pacote = {
  id?: string;
  nome: string;
  descricao: string;
  preco: number;
};

const pacotes = (await fetch(`${import.meta.env.API_URL}/pacote`).then((r) =>
  r.json()
)) as Pacote[];
---

<Layout title="Reservar | Ski da Serra">
  <main class="-mt-12 flex min-h-screen flex-col justify-center gap-4">
    <h1 class="mb-8 text-6xl font-bold text-primary">Reservar</h1>

    <div class="flex max-h-96 flex-col gap-6 overflow-scroll overflow-x-hidden">
      {
        pacotes.map((pacote) => (
          <div class="flex w-full items-center justify-between rounded-md border border-zinc-400 p-4 shadow">
            <div>
              <h2 class="text-primary pb-3 text-xl font-medium">
                {pacote.nome}
              </h2>
              <p class="pt-3">{pacote.descricao}</p>
            </div>
            <div class="flex flex-col items-center gap-4">
              <a href={`/reservar/${pacote.id}`}>
                <Button type="secondary">Reservar</Button>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
