---
export interface Props {
  type?: "primary" | "secondary";
}

// O tipo do botão vai ser primary por padrão,
// mas se é possivel passar `type="secondary"`
// para o alterar.
const { type = "primary" } = Astro.props;

// Classes tailwind para os estilos do botão, dependendo do tipo.
const primaryStyles =
  "rounded-full bg-primary border-2 border-primary px-4 py-2 text-white transition-opacity hover:opacity-80";
const secondaryStyles =
  "rounded-full border-2 border-primary px-4 py-2 font-medium text-primary transition-opacity hover:opacity-80";
---

<button class={type === "primary" ? primaryStyles : secondaryStyles}>
  <!-- Texto / Conteúdo vai aparecer neste slot -->
  <slot />
</button>
