---
import Button from "./Button.astro";

const linkStyles =
  "font-medium text-primary transition-opacity hover:opacity-80";
---

<div class="flex w-full items-center justify-between">
  <a class="transition-opacity hover:opacity-80" href="/">
    <img src="/logo.png" alt="Logótipo do Ski da Serra" />
  </a>

  <div class="flex items-center gap-4">
    <nav class="flex gap-4">
      <a class={linkStyles} href="/precos">Preços</a>
      <a class={linkStyles} href="/contactos">Contactos</a>
      <a class={linkStyles} href="/sobre-nos">Sobre Nós</a>
      <a class={linkStyles} href="/live-cams">Live Cams</a>
    </nav>
    <a href="/reservar">
      <Button>Reservar</Button>
    </a>
  </div>
</div>
