---
import Button from "./Button.astro";
---

<div class="flex w-full items-center justify-between">
  <img src="/logo.png" alt="" />

  <div class="flex gap-4 items-center">
    <nav class="flex gap-4">
      <a class="hover:opacity-80 transition-opacity" href="/precos">Preços</a>
      <a class="hover:opacity-80 transition-opacity" href="/contactos"
        >Contactos</a
      >
      <a class="hover:opacity-80 transition-opacity" href="/sobre-nos"
        >Sobre Nós</a
      >
      <a class="hover:opacity-80 transition-opacity" href="/live-cams"
        >Live Cams</a
      >
    </nav>
    <Button type="primary">Reservar</Button>
  </div>
</div>
