---
---

<div class="flex w-full items-center justify-between">
  <img src="/logo.png" alt="" />

  <div class="flex gap-4 items-center">
    <nav class="flex gap-4 ">
    <a href="">Preços</a>
    <a href="">Contactos</a>
    <a href="">Sobre Nós</a>
    <a href="">Live Cams</a>
    </nav>
    <button class="bg-[#29565F] px-4 py-2 rounded-full text-white hover:opacity-80">Reservar</button>
  </div>
</div>
