---
import AdminLayout from "../../../layouts/AdminLayout.astro";
import type { Client } from "../../../types";

const { id } = Astro.params;

const client = (await fetch(`${import.meta.env.API_URL}/client/${id}`).then(
  (r) => r.json()
)) as Client;
---

<AdminLayout title={`Cliente - ${client.name}`}>
  <div class="flex h-full w-full flex-col items-center justify-center">
    <h1 class="text-center text-2xl font-bold">Cliente</h1>
    <h2>{client.name}</h2>
  </div>
</AdminLayout>
