---
import { LessonTable } from "../../components/LessonTable";
import { apiURL } from "../../config";
import BackofficeLayout from "../../layouts/BackofficeLayout.astro";
import type { LessonWithTeacherWithReservation } from "../../types";

const lessons: LessonWithTeacherWithReservation[] = await fetch(
  `${apiURL}/api/lesson`
)
  .then((res) => res.json())
  .catch((err) => console.log(err));
---

<BackofficeLayout title="Aulas">
  <div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-3xl font-medium text-primary">Aulas</h1>

    {
      lessons ? (
        <LessonTable client:load data={lessons} />
      ) : (
        <span class="text-red-600">"Erro ao carregar dados"</span>
      )
    }
  </div>
</BackofficeLayout>
