---
import type { Client } from "@prisma/client";
import { ClientTable } from "../../components/ClientTable";
import BackofficeLayout from "../../layouts/BackofficeLayout.astro";

const clients: Client[] = await fetch(`${import.meta.env.API_URL}/api/client`)
  .then((res) => res.json())
  .catch((err) => console.log(err));
---

<BackofficeLayout title="Clientes">
  <div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-3xl font-medium text-primary">Clientes</h1>

    {
      clients ? (
        <ClientTable client:load clients={clients} />
      ) : (
        <span class="text-red-600">"Erro ao carregar dados"</span>
      )
    }
  </div>
</BackofficeLayout>
