---
import type { Course } from "@prisma/client";
import type { CourseWithReservations } from "../../types";
import { CourseTable } from "../../components/CourseTable";
import BackofficeLayout from "../../layouts/BackofficeLayout.astro";

const courses: CourseWithReservations[] = await fetch(
  `${import.meta.env.API_URL}/api/course`
)
  .then((res) => res.json())
  .catch((err) => console.log(err));
---

<BackofficeLayout title="Cursos">
  <div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-3xl font-medium text-primary">Cursos</h1>

    {
      courses ? (
        <CourseTable client:load data={courses} />
      ) : (
        <span class="text-red-600">"Erro ao carregar dados"</span>
      )
    }
  </div>
</BackofficeLayout>
