---
import { LoginForm } from "../../components/LoginForm";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Login</title>
  </head>
  <body class="">
    <div
      class="container mx-auto flex h-screen items-center justify-center px-16 py-8"
    >
      <LoginForm client:only="react" />
    </div>
  </body>
</html>
