---
// if (!Astro.cookies.has("token")) return Astro.redirect("/backoffice/login");
import { getUser } from "../../util/firebase/getUser";
const sessionCookie = Astro.cookies.get("session").value;

if (!sessionCookie) {
  return Astro.redirect("/backoffice/login");
}

const user = await getUser(sessionCookie);
if (!user) {
  return Astro.redirect("/backoffice/login");
}

import { ReservationTable } from "../../components/ReservationTable";
import BackofficeLayout from "../../layouts/BackofficeLayout.astro";
import type { ReservationWithClientWithLessonWithSlopeAccess } from "../../types";

const data: ReservationWithClientWithLessonWithSlopeAccess[] = await fetch(
  `${import.meta.env.PUBLIC_VERCEL_URL}/api/reservation`
)
  .then((res) => res.json())
  .catch((err) => console.log(err));
---

<BackofficeLayout title="Pagamentos">
  <div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-3xl font-medium text-primary">Reservas</h1>

    {
      data ? (
        <ReservationTable client:load data={data} />
      ) : (
        <span class="text-red-600">"Erro ao carregar dados"</span>
      )
    }
  </div>
</BackofficeLayout>
