---
// if (!Astro.cookies.has("token")) return Astro.redirect("/backoffice/login");

import { ReservationTable } from "../../components/ReservationTable";
import BackofficeLayout from "../../layouts/BackofficeLayout.astro";
import type { ReservationWithClientWithLessonWithSlopeAccess } from "../../types";

const data: ReservationWithClientWithLessonWithSlopeAccess[] = await fetch(
  `${import.meta.env.API_URL}/api/reservation`
)
  .then((res) => res.json())
  .catch((err) => console.log(err));
---

<BackofficeLayout title="Pagamentos">
  <div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-3xl font-medium text-primary">Reservas</h1>

    {
      data ? (
        <ReservationTable client:load data={data} />
      ) : (
        <span class="text-red-600">"Erro ao carregar dados"</span>
      )
    }
  </div>

  <script>
    import { getAuth } from "firebase/auth";
    import { initializeApp } from "firebase/app";

    const firebaseConfig = {
      apiKey: "AIzaSyD5pP_qzk9z5RT__tGvmrVgWZuVKPDGBfA",
      authDomain: "ski-da-serra.firebaseapp.com",
      projectId: "ski-da-serra",
      storageBucket: "ski-da-serra.appspot.com",
      messagingSenderId: "882758758252",
      appId: "1:882758758252:web:3460e8b234a4d0cb7c4d49",
      measurementId: "G-BPNN0JNE0H",
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);

    console.log(auth.currentUser);
  </script>
</BackofficeLayout>
