---
import type { Teacher } from "@prisma/client";
import { TeacherTable } from "../../components/TeacherTable";
import BackofficeLayout from "../../layouts/BackofficeLayout.astro";
import { apiURL } from "../../config";

const teacher: Teacher[] = await fetch(`${apiURL}/api/teacher`)
  .then((res) => res.json())
  .catch((err) => console.log(err));
---

<BackofficeLayout title="Professores">
  <div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-3xl font-medium text-primary">Professores</h1>

    {
      teacher ? (
        <TeacherTable client:load data={teacher} />
      ) : (
        <span class="text-red-600">"Erro ao carregar dados"</span>
      )
    }
  </div>
</BackofficeLayout>
